[ 
    {   "name": "1",
        "ip": "192.168.5.26",
        "nozzles": 10,
        "offset": 0 },
    {   "name": "2",
        "ip": "192.168.5.29",
        "nozzles": 10,
        "offset": 10 },
    {   "name": "3",
        "ip": "192.168.5.22",
        "nozzles": 10,
        "offset": 20 }
]