[ 
    {   "name": "1",
        "ip": "192.168.13.100",
        "nozzles": 10,
        "offset": 0 },
    {   "name": "2",
        "ip": "192.168.13.101",
        "nozzles": 10,
        "offset": 10 },
    {   "name": "3",
        "ip": "192.168.13.102",
        "nozzles": 10,
        "offset": 20 }
]